/*   FORMS     
------------------------------*/
/*b-form-input style*/

/*main style for virtual input*/
.b-form-input_box{
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Для Firefox */
	display: inline-block;
	vertical-align: top;	
}
/*custom style for virtual input*/
.b-form-input_field{
	width: px;
	height: px;
	padding: 0 10px 0 5px;	
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 3px;
}
/*main style for input*/
.b-form-input_input{
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Для Firefox */
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	font-size: 1em;
	line-height: 120%;
}
/*clear the password reveal button and the clear button in IE10*/
.b-form-input_input::-ms-clear,
.b-form-input_input::-ms-reveal{
	display: none;
}
/*style for placeholder*/
.b-form-input_input:-moz-placeholder{
	color: #000;
}
.b-form-input_input::-moz-placeholder{
	color: #000;
}
.b-form-input_input::-webkit-input-placeholder{
	color: #000;
}
.b-form-input_input:-ms-input-placeholder{
	color: #000;
}
.b-form-input_input.text-placeholder{
	color: #000;
}

/*end b-form-input style*/

/*field style*/
.field{
	border: 1px solid #ccc;
	border-radius: 0;
	background: #fff;
	padding: 0 5px;
	color: #000;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Для Firefox */	
	font-family: Verdana, Geneva, sans-serif;
}
.field:-moz-placeholder{
	color: #000;
}
.field::-moz-placeholder{
	color: #000;
}
.field::-webkit-input-placeholder{
	color: #000;
}
.field:-ms-input-placeholder{
	color: #000;
}
.field.text-placeholder{
	color: #000;
}
/*end field style*/

/*buttons style*/
.button{
	background: #184b5c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE4NGI1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE4NGI1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzBkMjYyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDI2MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #184b5c 0%, #184b5c 50%, #0d262d 53%, #0d262d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#184b5c), color-stop(50%,#184b5c), color-stop(53%,#0d262d), color-stop(100%,#0d262d));
    background: -webkit-linear-gradient(top,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);
    background: -o-linear-gradient(top,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);
    background: -ms-linear-gradient(top,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);
    background: linear-gradient(to bottom,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);	
    border: 1px solid #0D262D;
    font-weight: bold;
	color: #fff;
    text-decoration: none; 
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase; 
    box-shadow: 0 2px 0 #A1E9F5;  
    padding: 5px 15px;
}
.button::-moz-focus-inner{
	padding:0;
	border:0;
}
.button:hover{
	background: #0d262d;
}
.button:active{
	position: relative;
	top: 2px;
	box-shadow: none;
}
.no-button{
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}
.no-button::-moz-focus-inner{
	padding:0;
	border:0;
}
/*end buttons style*/

/*   END FORMS      
------------------------------*/

