/*   HEADER      
------------------------------*/

.h-top{
    height: 35px;
    overflow: hidden;
}
.team-list{
    line-height: 32px;
}
.team-item{
    height: 34px;
    border-bottom: 1px solid transparent;
    position: relative;
}
.team-item a{
    display: block;
}
.hallo{
    font-size: 1.16666666666667em;
    color: #fff;
    line-height: 34px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.h-middle{
    height: 216px;
}
.map{
    margin: 14px 38px 0 0;
	width: 263px;
	height: 177px;
}
/*logo*/
.logo{
    margin: 47px 0 0 30px;
}
/*logo*/

.h-bottom{
    height: 25px;
    background: #0d262d;
    line-height: 23px;
}
.social-list{
    margin-left: 3px;
}
/*search*/
.search{
    margin-right: 8px;
}
.field-search-label{
    font-size: 1.16666666666667em;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: 7px;
    text-transform: uppercase;
    position: relative;
    top: 1px;
}
.field-search{
    height: 16px;
    width: 185px;
    border-top: 1px solid #7f7f7f;
    line-height: 16px;
}
.button-search{
    width: 14px;
    height: 14px;
    margin-left: 3px;
}
.button-search .icon{
    vertical-align: top;
    position: relative;
    top: 1px;
}
/*end search*/

/*   END HEADER      
------------------------------*/

/*   MAIN NAVIGATION      
------------------------------*/
.nav{
    background: #efefef;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NhY2FjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYWNhY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #efefef 0%, #efefef 47%, #cacaca 50%, #cacaca 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(47%,#efefef), color-stop(50%,#cacaca), color-stop(100%,#cacaca));
    background: -webkit-linear-gradient(top,  #efefef 0%,#efefef 47%,#cacaca 50%,#cacaca 100%);
    background: -o-linear-gradient(top,  #efefef 0%,#efefef 47%,#cacaca 50%,#cacaca 100%);
    background: -ms-linear-gradient(top,  #efefef 0%,#efefef 47%,#cacaca 50%,#cacaca 100%);
    background: linear-gradient(to bottom,  #efefef 0%,#efefef 47%,#cacaca 50%,#cacaca 100%);
    height: 45px;
    width: 990px;
    margin-left: -5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.75);
    margin-bottom: 10px;
}
.nav ul{
    display: table;
    width: 100%;
    height: 45px;
}
.nav li{
    display: table-cell;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.nav a{
    color: #1f596d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    display: block;
    position: relative;
}
.nav a:hover,
.nav .current-menu-item a{
    color: #fff;
    text-decoration: none;
    background: #184b5c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE4NGI1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE4NGI1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzBkMjYyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDI2MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #184b5c 0%, #184b5c 50%, #0d262d 53%, #0d262d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#184b5c), color-stop(50%,#184b5c), color-stop(53%,#0d262d), color-stop(100%,#0d262d));
    background: -webkit-linear-gradient(top,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);
    background: -o-linear-gradient(top,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);
    background: -ms-linear-gradient(top,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);
    background: linear-gradient(to bottom,  #184b5c 0%,#184b5c 50%,#0d262d 53%,#0d262d 100%);
}
.nav li:first-child a:before,
.nav li:last-child a:before{
    border-bottom-width: 0;
    border-top-width: 5px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top: -5px;
    content: ''; 
}
.nav li:first-child a:before{
    left: 0;
    border-right-color: #efefef;
    border-right-width: 5px;
    border-left-width: 0;  
}
.nav li:last-child a:before{
    right: 0;
    border-left-color: #efefef;
    border-left-width: 5px;
    border-right-width: 0;  
}
.nav li:first-child a:hover:before,
.nav li.current-menu-item:first-child a:before{
    border-right-color: #184b5c; 
}
.nav li:last-child a:hover:before,
.nav li.current-menu-item:last-child a:before{
    border-left-color: #184b5c; 
}
/*   END MAIN NAVIGATION      
------------------------------*/

.last-games{
    height: 50px;
    margin-bottom: 10px;
    background: rgba(0,0,0,.5);
}
.last-games-window{
    display: table;
    width: 100%;
}
.last-game{
    display: table-cell;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 1px solid #fff;
    height: 50px;
}
.last-game a{
    text-decoration: none;
    display: block;
}
.last-game:last-child{
    border-right: none;
}
.last-game-championship{
    padding-left: 5px;
}
.last-game-team{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 0 10px;
}
.last-game-team-name{
    font-size: 1.83333333333333em;
    line-height: 1.4;
}
.last-game-team-sity{
    font-size: 1.16666666666667em;
    line-height: 1;
}
.last-game-info{
    text-align: center;
    padding: 0 10px;
    color: #fff;
    padding-top: 6px;
}
.last-game-score{
    font-family: 'collegiateheavyoutlineregular';
    font-size: 2.5em;
}
.last-game-data{
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1;
}
.future-games{
    background: #efefef;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NhY2FjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYWNhY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #efefef 0%, #efefef 47%, #e0e0e0 50%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(47%,#efefef), color-stop(50%,#e0e0e0), color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(top,  #efefef 0%,#efefef 47%,#e0e0e0 50%,#e0e0e0 100%);
    background: -o-linear-gradient(top,  #efefef 0%,#efefef 47%,#e0e0e0 50%,#e0e0e0 100%);
    background: -ms-linear-gradient(top,  #efefef 0%,#efefef 47%,#e0e0e0 50%,#e0e0e0 100%);
    background: linear-gradient(to bottom,  #efefef 0%,#efefef 47%,#e0e0e0 50%,#e0e0e0 100%);   
    height: 50px;
    margin-bottom: 10px; 
}
.future-games-title{
    color: #181818;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 15px;
    line-height: 48px;
}
.future-games-slider{
    padding: 0 10px;
    position: relative;
}
.future-games-slider .sliderkit-nav{
    width: 850px!important;
}
.future-games-slider .sliderkit-nav-clip{}
.future-games-slider .sliderkit-btn{
    position: absolute;
    top: 0;
    width: 10px;
    height: 50px;
    background: #6f6f6f;
    cursor: pointer;
    text-align: center;
}
.future-games-slider .sliderkit-btn:hover{
    background: #beb3b3;
}
.future-games-slider .sliderkit-btn a{
    border: 5px solid transparent;
    display: inline-block;
    margin-top: 20px;
}
.future-games-slider .sliderkit-nav-prev{
    left: -10px;
}
.future-games-slider .sliderkit-nav-next{
    right: -10px;
}
.future-games-slider .sliderkit-nav-prev a{
    border-left-width: 0;
    border-right-color: #373737;
}
.future-games-slider .sliderkit-nav-next a{
    border-right-width: 0;
    border-left-color: #373737;
    margin-left: 1px;
}
.future-games-list{}
.future-game{
    width: 212px;
    height: 50px;
    border-right: 1px solid #595858;
    box-shadow: inset -1px 0 1px #fff;
    display: table;
}
.future-game-team{
    width: 60px;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}
.future-game-team-name,
.fixed-tooltip{
    display: none;
    position: fixed; 
    z-index: 1000; 
    border: solid 1px #CDCDCD;
    border-radius: 3px;
    background: #0d262d;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    padding: 1px 6px;
}
.team-item .fixed-tooltip{
    line-height: 1.3;
}
.future-game-team a:hover .future-game-team-name,
.fixed-tooltip-wrapper:hover .fixed-tooltip{
    display: block;
}
.future-game-box{
    color: #181818;
    display: table-cell;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    line-height: 1;
    vertical-align: middle;
}
.future-game-team-last{
    padding-right: 9px;
}
.future-game-team-first{
    padding-left: 9px;
}
.vs{
    font-size: 2.5em;
    padding-bottom: 1px;
}
.future-game-info .icon{
    position: relative;
    top: -2px;
}
.future-game-data{}
.main-block{
    height: 318px;
    background: #fff url(../images/loading.gif) no-repeat 325px 50%!important;
}
.main-carousel{
    width: 675px;
    height: 318px;
    position: relative;
}
.main-carousel .sliderkit-nav{
    position: absolute;
    bottom: 20px;
    right: 25px;
}
.main-carousel .sliderkit-nav li{
    padding-left: 5px;
}
.main-carousel .sliderkit-panels{
	width: 675px;
	height: 318px;	
	position: relative;
}
.main-carousel .sliderkit-panel{
	z-index:1;
	position:absolute;
	overflow:hidden;
    background: #fff;
}
.main-carousel .sliderkit-panel img{
	width: 675px;
	height: 318px; 
}
.main-carousel .sliderkit-panel-active{
	z-index:5;
}
.main-carousel .sliderkit-panel-old{
	z-index:4;
}
.main-carousel-content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0,0,0,.8);
    padding: 12px 12px 35px;
    width: 665px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.main-carousel-title{
    font-family: 'Open Sans Condensed', sans-serif;
    /*font-weight: 700;*/
    font-size: 1.83333333333333em;
    padding: 5px 0 15px;
    line-height: 1;
    text-transform: uppercase;
}
.main-carousel-title-link{
    color: #fce10d;
    text-decoration: none;
}
.main-carousel-title-link:hover{
    text-decoration: none;
    color: #80caff;
}
.main-carousel-text{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    padding-right: 15px;
}
.main-carousel-more{
    color: #fce10d;
}
.main-carousel-more:hover{
    color: #fce10d;
    text-decoration: none;
}
.main-tabs-section{
    width: 300px;
    margin-right: -5px;
    position: relative;
    margin-top: 8px;
}
.main-tabs-section:before,
.widget:before{
    border-bottom-width: 0;
    border-top-width: 5px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top: -4px;
    content: ''; 
    right: 0;
    border-left-color: #b6b6b6;
    border-left-width: 5px;
    border-right-width: 0;
}
.tabs{
    border-left: 1px solid #b6b6b6;
    position: relative;
    top: 1px;    
}
.home-tabs{
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tabs-item{
    background: #d9d9d9;
    float: left;
    border: 1px solid #b6b6b6;
    border-left: 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;  
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    color: #777;
}
.home-tabs .tabs-item{
    display: table-cell;
    float: none;
    width: 33%;
}
.tabs-item.current{
    background: #efefef;
    border-bottom: none;
    cursor: default;
    color: #181818;
}
.tabs-box{
    background: #efefef;
    border: 1px solid #b6b6b6;
    padding: 0 8px;
}
.main-tabs-section .tabs-box{
    height: 261px;
    border-top: none;
}
.news-carousel{
    padding: 20px 0 35px;
    position: relative;
}
.news-carousel .sliderkit-btn{
    display: inline-block;
    width: 21px;
    height: 21px;
    position: absolute;
    bottom: -28px;
    background: #0d262d;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 6px;
}
.news-carousel .sliderkit-btn a{
    display: inline-block;
    border: 5px solid transparent;
    vertical-align: top;
}
.news-carousel .sliderkit-btn:hover{
    background: #289ab7;
}
.news-carousel .sliderkit-nav-prev{
    right: 28px;
}
.news-carousel .sliderkit-nav-prev a{
    border-left: none;
    border-right-color: #fff;
}
.news-carousel .sliderkit-nav-next{
    right: 0;
}
.news-carousel .sliderkit-nav-next a{
    border-right: none;
    border-left-color: #fff;
}
.news-carousel-item{
    text-align: left;
    height: 205px;
}
.news-carousel-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
}
.news-carousel-title-link{
    color: #0d262d;
    text-decoration: none;
}
.news-carousel-title-link:hover{
    text-decoration: underline;
    color: #298ca3;
}
.news-carousel-data{
    padding: 5px 0;
    color: #747474;
    font-size: .916666666666667em;
    text-transform: uppercase;
}
.news-carousel-text{
    color: #0d262d;
    font-size: 1.08333333333333em;
    line-height: 1.1;
}
.main-list-news{
    padding: 20px 0 0;
}
.main-item-news{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 6px;
}
.main-item-news:last-child{
    border: none;
}
.main-item-data{
    width: 75px;
    font-size: .833333333333333em;
    color: #7d7d7d;
}
.main-item-content{
    padding-left: 75px;
}
.main-list-more{
    font-size: .833333333333333em;
    position: absolute;
    right: 10px;
    bottom: 7px;
}
.main-list-more a{
    color: #000;
}
.main-list-more a:hover{
    text-decoration: none;
}
.main-link-news{
    width: 100%;
}
.middle-menu-item{
    position: relative;
}
.middle-menu-item:hover a{
    display: block;
}
.middle-menu-item a{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.1);
}
.middle-menu-item .icon{
    position: absolute;
    left: -5px;
    bottom: 5px;
}
/*   SECTION     
------------------------------*/

/*   CONTENT     
------------------------------*/
.white_block{
    background: #fff;
}

/*breadcrumbs*/
.breadcrumbs{}
.breadcrumbs a{}
.breadcrumbs a:hover{}
/*end breadcrumbs*/

.main-posts{
    padding-bottom: 6px;
}
.posts-tabs-section{
    width: 327px;
}
.posts-tabs-section .tabs-box{
    padding: 0;
}
.posts-tabs .tabs-item{
    padding: 10px 32px;
    position: relative;
}
.posts-tabs .tabs-item.current:before{
    content: '';
    width: 100%;
    height: 1px;
    background: #efefef;
    top: 100%;
    left: 0;
    position: absolute;
}
.main-posts-list{
    padding-top: 5px;
}
.main-post{
    text-align: left;
}
.main-post-link{
    display: block;
    padding: 5px 8px;
    text-decoration: none;
}
.main-post-link:hover{
    background: #fff;
    text-decoration: none;
}
.main-post-link:hover .main-posts-title{
    color: #298ca3;
    text-decoration: underline;
}
.main-posts-img,
.aside-news-img{
    width: 130px;
    border: 1px solid #fff;
    height: 75px;
    overflow: hidden;
    background: #fff url(../images/loading.gif) no-repeat center;
}
.main-posts-img-window,
.aside-news-img-window{
    width: 130px;
    height: 300px;
    top: -112px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.main-posts-img img,
.aside-news-img-window img{
    width: 130px;
    height: auto;
}
.main-posts-content,
.aside-news-content{
    padding-left: 140px;
}
.main-posts-title,
.aside-news-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.33333333333333em;
    color: #181818;
    line-height: 1.2;
}
.main-posts-data,
.aside-news-data{
    font-size: .916666666666667em;
    color: #747474;
    padding-top: 5px;
}
.main-posts-more-b{
    padding: 5px 10px;
    font-size: .833333333333333em;
}
.main-players{
    margin-bottom: 11px;
    padding-top: 10px;
}
.main-players-list{
    padding: 15px 20px 10px;
}
.main-player{
    width: 134px;
    height: 171px;
}
.main-player-window{
    background: #fff;
    padding: 5px;
    border: 1px solid #b6b6b6;
    position: relative;
    cursor: pointer; 
    font-family: 'Open Sans Condensed', sans-serif;
    z-index: 500;   
}
.main-player-window a{
    text-decoration: none;
}
.main-player:hover .main-player-name{
    display: block;
}
.main-player-photo{
    position: relative;
    background: #fff url(../images/loading.gif) no-repeat center;
}
.main-player-photo img{
    width: 122px;
    height: 159px;
}
.main-player-info{
    font-size: 1.83333333333333em;
    color: #fff;
    padding: 5px;
    background: rgba(0,0,0,.8);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1;
}
.main-player-name{
    display: none;
    color: #181818;
    font-size: 1.16em;
    line-height: 1.3;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-top: 5px;
}
.main-player-name strong{
    display: block;
}
.no-players-list{
    padding: 15px 0 10px;
}
.no-players-list .main-player{
    height: auto;
    margin: 0 10px 20px;
}
.no-players-list .main-player-name{
    display: block;
}
.main-player-city{
    font-weight: bold;
    color: #3e3e3e;
}
.main-player-status{
    padding-bottom: 5px;
    font-size: 1.16em;
    font-weight: bold;
    color: #0d262d;
}
.main-video{
    padding-top: 10px;
}
.video-list{
    padding: 14px 10px 0;
}
.video-item{
    width: 314px;
    margin-bottom: 10px;
    position: relative;
    height: 146px;
}
.video-photo{
    background: #fff url(../images/loading.gif) no-repeat center;
}
.video-photo img{
    width: 100%;
    height: 146px;
}
.video-title{
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px 13px;
    background: rgba(0,0,0,.8);
    font-size: 1.5em;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}
.video-hover{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
}
.video-item:hover .video-hover{
    display: block;
}
.video-item:hover .video-title{
    display: none;
}
.video-item .icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*index posts*/
.b-posts{
    padding: 10px 15px;
}
.b-posts .title{
    margin-bottom: 15px;
}
/*end index posts*/

/*post*/
.post{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
}
.post-title{
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}
.post-title a{
    color: #0d262d;
    text-decoration: none;
}
.post-title a:hover{
    text-decoration: underline;
    color: #298ca3;
}
.post-header{
    padding: 5px 0;
    color: #707070;
    font-size: .916666666666667em;
}
.post-autor{
    margin-left: 15px;
}
.post-data{}
.post-content{
    padding-left: 218px;
}
.post-img{
    width: 190px;
    height: 142px;
    padding: 4px;
    background: #fff url(../images/loading.gif) no-repeat center;
    border: 1px solid #b6b6b6;    
}
.post-img img{
    height: 142px;
}
.post-img a{
    display: block;
    width: 190px;
    height: 142px;
    overflow: hidden;
}
.post-img:hover{
    background: #298ca3;
    border: 1px solid #0d262d;
}
.post-box{
    padding-top: 5px;
    position: relative;
}
.post-text{
    color: #0d262d;
    line-height: 1.4;
    margin-top: -3px;
}
.post-more{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .92em;
}
.post-more-link{
    text-decoration: none;
}
.post-more-link .icon{
    margin-right: 3px;
}
.post-more-link span{
    text-decoration: underline;
}
.post-more-link:hover{
    text-decoration: none;
}
.post-more-link:hover span{
    text-decoration: underline;
}
/*end post*/

/*single & page post*/
.b-post{}
.empty-post{}
/*single post*/
.single{
    padding: 10px 15px 30px;
}
.cat-title{
    margin-left: -15px;
}
.single-title{
    padding: 15px 0 20px;
    line-height: 1.2;
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    font-weight: 700;    
}
.single .title{}
.single-text{}
.single .text{}
/*single post*/

/*page post*/
.page{}
.page-title{}
.page .title{}
.page-text{}
.page .text{}
/*page post*/

.data{
    color: #78817c;
    padding-bottom: 15px;
    font-size: .916666666666667em;
}
.comments-b{
    padding: 10px 0;
    margin-top: 11px;
}
.small-title-text{
    font-size: .65em;
}
.comments-box{
    width: 640px;
    margin: auto;
    padding-top: 10px;
}
/*end single & page post*/
.roster-table{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: middle;
}
.roster-table th,
.roster-table td{
    text-align: center;
    vertical-align: middle;
}
.roster-table th{
    background: #0d262d;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.16666666666667em;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 0;
    border-right: 1px solid #fff;
}
.roster-table td{
    padding: 5px;
}
.roster-row{
    background: #D7D7D7;
} 
.roster-light-row{
    background: #F5F5F5;
}
.roster-cell{}
.roster-p-number{
    font-weight: bold;
}
td.roster-p-name{
    font-weight: bold;
    text-align: left;
}
.roster-p-name a{
    color: #0d262d;
    text-decoration: none;
}
.roster-p-name a:hover{
    color: #298ca3;
    text-decoration: underline;
}
.page-player-text,
.page-team-text{
    padding: 15px 20px 30px;
}
.page-player .title,
.page-team .title{
    margin-top: 10px;
}
.page-player,
.page-team{
    margin-right: 10px;
}
.player-page-info,
.team-page-info{
    position: relative;
}
.player-page-info img{
    width: 100%;
    height: 250px;
}
.player-page-box{
    width: 550px;
    height: 250px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/player.png);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 15px;
}
.player-page-top{}
.player-page-photo{
    width: 130px;
}
.player-page-photo img{
    width: 122px;
    height: 159px;
    padding: 3px;
    background: #fff;
    border: 1px solid #b6b6b6;
}
.player-page-content{
    padding-left: 150px;
    color: #fff;
}
.player-page-name,
.player-page-surname{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;    
    font-size: 1.16666666666667em;
}
.player-page-name{
    color: #ccc;
}
.player-page-surname{
    font-size: 2em;   
    font-weight: bold; 
}
.player-page-desc{
    padding-top: 10px;
}
.player-page-number{
    font-family: 'collegiateheavyoutlineregular';
    font-size: 2.5em;
    margin-right: 5px;
    padding-right: 3px;    
}
.player-page-pos{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}
.player-page-list{
    padding-top: 10px;
    font-size: .9em;
}
.player-page-item{
    line-height: 1.5;
}
.page-game-text{
    padding: 15px 20px 30px;
}
.page-game .title{
    margin-top: 10px;
}
.page-game{
    margin-right: 10px;
}
.game-page-info{
    position: relative;
    padding: 60px 0 20px;
    background: url(../images/game-b-bg.png);
    border-bottom: 5px solid #0393a8;
}
.game-page-team{
    width: 450px;
    text-align: center;
}
.game-page-team-logo{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;    
}
.game-page-team-logo-bg{
    position: absolute;
    background: url(../images/game-bg.png);
    width: 180px;
    height: 180px;
    top: 0;
    left: 0;
}
.game-page-team-name{
    font-size: 3em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.game-page-team-sity{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    line-height: 1;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.game-page-info-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    width: 290px;
    text-align: center;
}
.game-page-data{
    font-size: 1em;
    color: #fff;
}
.game-page-championship{
    height: 60px;
    margin-top: 10px;
}
.game-page-score{
    padding-top: 11px;
    font-weight: bold;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.team-page-info{
    position: relative;
}
.team-page-box{
    width: 100%;
    height: 250px;
    background: #0D262D;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
}
.team-page-left{
    width: 440px;
}
.team-page-right{
    width: 450px;
}
.team-page-right img{
    width: 450px;
    height: 220px;
}
.team-page-photo{
    width: 180px;
    border: 4px solid #F4E841;
}
.team-page-content{
    padding-left: 205px;
    color: #fff;
}
.team-page-name,
.team-page-surname{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;    
}
.team-page-name{
    font-size: 2.5em;
    margin-top: -10px;
}
.team-page-surname{
}
.team-page-desc{
    padding-top: 10px;
}
.team-page-number{
    font-family: 'collegiateheavyoutlineregular';
    font-size: 2.5em;
    margin-right: 5px;
    padding-right: 3px;    
}
.team-page-pos{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}
.team-page-list{
    padding-top: 10px;
    font-size: .9em;
}
.team-page-item{
    line-height: 1.5;
}
.team-page-item a{
    color: #fff;
}
.team-page-item a:hover{
    text-decoration: none;
}
/*   END CONTENT     
------------------------------*/

/*   SIDEBAR     
------------------------------*/

/*   WIDGET     
------------------------------*/

.sidebar-widgets{
    /*margin-right: -6px;*/
}
.screen-reader-text {
	display:none;
}

/*widget*/
.widget{
    padding-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.widget:before{
    top: -6px;
}
.widgettitle{}
.textwidget{}
/*end widget*/

/*widget WP blocks*/
.widget_search form,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_archive ul,
.widget_categories ul,
.widget_meta ul{
	padding: 10px 15px;
}
/*end widget WP blocks*/

.partners-widget{}
.partners-list{}
.partners-item{
    border-bottom: 1px solid #fff;
    text-align: center;
    margin: 0 18px;
    background: #fff url(../images/loading.gif) no-repeat center;
}
.partners-item:last-child{
    border-bottom: 1px solid #fff;
}
.partners-item img{
    width: 262px;
    height: 112px;
}
.vk-widget{
    padding: 10px;
}


/*aside navigation*/
.nav-widget{
    
}
.aside-menu{}
.aside-menu-list{
    padding: 0 10px 10px;
}
.aside-menu-item{
    padding: 5px 0;
    border-bottom: 1px solid #fff;
    display: table;
    width: 100%;
}
.aside-menu-cell{
    display: table-cell;
    vertical-align: middle;
}
.aside-menu-cell-icon{
    width: 40px;
    text-align: center;
}
.aside-menu-item:last-child{
    border-bottom: none;
}
.aside-menu-item a{
    font-size: 1.16666666666667em;
    color: #0d262d;
    text-decoration: none;
    display: block;
}
.aside-menu-item a:hover{
    text-decoration: underline;
    color: #298ca3;
}
/*end aside navigation*/

/*aside news*/
.aside-news-list{
    padding: 10px;
    padding-bottom: 0;
}
.aside-news-item{
    padding-bottom: 10px;
}
.aside-news-img:hover{
    border-color: #298ca3;
}
.aside-news-title a{
    color: #181818;
}
.aside-news-title a:hover{
    color: #298ca3;
    text-decoration: underline;
}
/*end aside news*/
.aside-cat-list{
    padding-top: 20px;
}
.aside-cat-list li{
    margin: 0 0 10px 5px;
    padding-left: 20px;
    background: url(../images/bullets.png) no-repeat left;
    line-height: 17px;
    font-weight: bold;
}
/*   END WIDGET    
------------------------------*/

/*   END SIDEBAR     
------------------------------*/

/*   END SECTION     
------------------------------*/
.friends{
    padding-bottom: 10px;
    margin-bottom: 37px;
}
.friends-slider{
    padding: 0 60px;
}
.friends-slider .sliderkit-btn{
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -16px;
}
.friends-slider .sliderkit-nav-prev{
    left: -48px;
}
.friends-slider .sliderkit-nav-next{
    right: -48px;
}
.friends-item{
    margin-right: 32px;
    height: 106px;
    position: relative;
    border: 1px solid #bbb;
    background: #fff url(../images/loading.gif) no-repeat center;
}
.friends-link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}
.friends-link:hover{
    background: rgba(0,0,0,.2);
}
.friends-item img{
    width: 189px;
    height: 106px;
}

/*   FOOTER     
------------------------------*/

/*footer logo*/
.f-logo{
    margin: 26px 0 0 54px;
}
/*footer logo*/

/*footer text*/
.f-text{
    margin: 34px 0 0 56px;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
}
/*footer text*/

.f-nav{
    padding: 15px 40px 0 0;
}
.f-nav-item{
    width: 120px;
}
.f-nav-title{
    color: #0d262d;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding-bottom: 1px;
}
.f-nav-item ul{
    padding-top: 3px;
}
.f-nav-item li{
    line-height: 1.5;
}
.f-nav-item a{
    color: #181818;
    text-decoration: none;
}
.f-nav-item a:hover,
.f-nav-item .current-menu-item a{
    color: #fff;
    text-decoration: none;
}

/*counter*/
.counter{
    margin: 20px 15px 0 0;
    text-align: right;
}
.counter-item{
    margin-left: 10px;
}
/*end counter*/



/*   END FOOTER    
------------------------------*/

/*   POPUPS  
------------------------------*/

/*   END POPUPS    
------------------------------*/

/*   OTHER STYLES    
------------------------------*/
.sliderkit{
     display:none;
     position:relative;
     overflow:hidden;
     text-align:left;
}
.sliderkit .sliderkit-nav{
     z-index:10;
     position:absolute;
     text-align:center;
}
.sliderkit .sliderkit-nav-clip{
     position:relative;
     overflow:hidden;
}
.sliderkit .sliderkit-nav-clip ul{
     position:relative;
     left:0;
     top:0;
     list-style:none;
     margin:0;
     padding:0;
}
.sliderkit .sliderkit-nav-clip ul li{
     float:left;
}
.sliderkit .sliderkit-btn{
     z-index:10;
}
.tabs-box{
     display: none;
}
.tabs-box.visible {
     display: block;
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    border-radius: 3px;
    background: #0d262d;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}
.jvectormap-region{
    cursor: pointer;
}
.jvectormap-zoomin,
.jvectormap-zoomout,
.sliderkit-btn-disable{
    display: none;
}
.popup-link{
  cursor: pointer;
}
.popup-shadow{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.popupper{
    display: none;
    position: fixed;
    z-index: 1000;
}
.popupper-close{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 7px;
}
.popupper_mail{
    width: 350px;
}
.popupper-close:hover{}
.popupper-b{
    padding: 10px;
}
.popupper .title{
    margin-left: -10px;
}
.popupper .gcf_button{
    padding-top: 10px;
}
.popupper .field{
    width: 100%;
    height: 30px;
}
.popupper textarea.field{
    height: 100px;
    padding: 5px;
}
#gcf{
    width: 250px;
    margin: auto;
    margin-top: 10px;
}
#toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:100%;
    background:url(../images/ui.totop.png) no-repeat left -51px;
}

#toTopHover {
    background:url(../images/ui.totop.png) no-repeat left top;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline:none;
}
.coach-team{
    margin-bottom: 11px;
}
.roster-p-name{
    width: 172px;
}
/*   END OTHER STYLES     
------------------------------*/